@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}

section {
  padding: 2rem 9%;
}

.heading {
  font-size: 9rem;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 0.05rem #443;
  letter-spacing: 0.2rem;
  text-align: center;
  pointer-events: none;
  position: relative;
}

.heading span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  color: #443;
  font-size: 3rem;
}

.btn {
  display: inline-block;
  padding: 0.9rem 1.5rem;
  border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
  color: #443;
  background: none;
  border: 0.2rem solid #443;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 1.7rem;
}

.btn:hover {
  border-radius: 4% 95% 6% 95%/95% 4% 92% 5%;
  border: 0.2rem dashed #443;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1000;
  background: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem 9%;
}

.header .logo {
  color: #443;
  font-size: 2.3rem;
}

.header .logo i {
  padding-left: 0.5rem;
}

.header .navbar a {
  margin: 0 1rem;
  font-size: 1.7rem;
  color: #443;
}

.header .btn {
  margin-top: 0;
}

#menu-btn {
  cursor: pointer;
  color: #443;
  font-size: 3rem;
  display: none;
}

.home {
  min-height: 100vh;
  padding-top: 12rem;
  background: url(../img/home-bg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.home .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
}

.home .row .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.home .row .content h3 {
  font-size: 6.5rem;
  color: #443;
  text-transform: uppercase;
}

.home .row .image {
  float: 1 1 42rem;
  padding-top: 10rem;
  text-align: center;
}

.home .row .image img {
  height: 35rem;
  -webkit-animation: float 4s linear infinite;
          animation: float 4s linear infinite;
}

.home .image-slider {
  text-align: center;
  padding: 3rem 0;
}

.home .image-slider img {
  height: 9rem;
  margin: 0 0.5rem;
  cursor: pointer;
  margin-top: 5rem;
}

.home .image-slider img:hover {
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
}

@-webkit-keyframes float {
  0%,
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  50% {
    -webkit-transform: translateY(-7rem);
            transform: translateY(-7rem);
  }
}

@keyframes float {
  0%,
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
  50% {
    -webkit-transform: translateY(-7rem);
            transform: translateY(-7rem);
  }
}

.about .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
}

.about .row .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.about .row .image img {
  width: 100%;
  -webkit-animation: aboutImage 4s linear infinite;
          animation: aboutImage 4s linear infinite;
}

.about .row .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.about .row .content .title {
  color: #443;
  font-size: 3rem;
  line-height: 1.8;
}

.about .row .content p {
  color: #443;
  font-size: 1.5rem;
  line-height: 1.8;
  padding: 1rem 0;
}

.about .row .content .icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  padding-top: 3rem;
}

.about .row .content .icon-container .icons {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 15rem;
          flex: 1 1 15rem;
  padding: 1.5rem;
  text-align: center;
  border: 0.2rem solid #443;
  border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
}

.about .row .content .icon-container .icons img {
  height: 5rem;
}

.about .row .content .icon-container .icons h3 {
  font-size: 1.7rem;
  padding-top: 1rem;
  color: #443;
}

@-webkit-keyframes aboutImage {
  0%,
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    border-radius: 4% 95% 6% 95%/95% 4% 92% 5%;
  }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
  }
}

@keyframes aboutImage {
  0%,
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    border-radius: 4% 95% 6% 95%/95% 4% 92% 5%;
  }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
  }
}

.menu {
  background: url(../img/menu-bg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.menu .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu .box-container .box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  padding: 2rem;
  border: 0.2rem solid #443;
  border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  margin-left: 6rem;
}

.menu .box-container .box:hover {
  border: 0.2rem dashed #443;
  border-radius: 4% 95% 6% 95%/95% 4% 92% 5%;
}

.menu .box-container .box img {
  height: 8rem;
  margin-left: -6rem;
}

.menu .box-container .box h3 {
  font-size: 2.2rem;
  color: #443;
  line-height: 1.8;
}

.menu .box-container .box p {
  font-size: 1.6rem;
  color: #443;
  line-height: 1.8;
  padding: 1rem 0;
}

.menu .box-container .box span {
  font-size: 2rem;
  color: #443;
  line-height: 1.8;
}

.review .review-slider {
  padding: 7rem 0;
}

.review .review-slider .box {
  border: 0.2rem solid #443;
  border-radius: 95% 4% 97% 5%/4% 94% 3% 95%;
  text-align: center;
  position: relative;
  z-index: 0;
  padding: 2rem;
}

.review .review-slider .box:hover .fa-quote-left {
  top: -6.5rem;
}

.review .review-slider .box:hover .fa-quote-right {
  bottom: -6.5rem;
}

.review .review-slider .box .fa-quote-left {
  position: absolute;
  top: 2rem;
  left: 2.5rem;
  font-size: 6rem;
  color: #ccc;
  z-index: -1;
}

.review .review-slider .box .fa-quote-right {
  position: absolute;
  bottom: 2rem;
  right: 2.5rem;
  font-size: 6rem;
  color: #ccc;
  z-index: -1;
}

.review .review-slider .box img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  margin-bottom: 0.7rem;
}

.review .review-slider .box .stars {
  padding: 0.5rem 0;
}

.review .review-slider .box .stars i {
  font-size: 1.7rem;
  color: #443;
}

.review .review-slider .box p {
  font-size: 1.6rem;
  color: #443;
  padding: 1rem 0;
  line-height: 1.8;
}

.review .review-slider .box h3 {
  font-size: 2.2rem;
  color: #443;
  line-height: 1.8;
}

.review .review-slider .box span {
  font-size: 1.5rem;
  color: #443;
}

.swiper-pagination-bullet {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 0;
}

.swiper-pagination-bullet-active {
  background: #443;
}

.book {
  background: url(../img/book-bg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.book form {
  margin: 0 auto 2rem auto;
  max-width: 60rem;
  border-radius: 4% 95% 6% 95%/95% 4% 92% 5%;
  padding: 3rem;
  border: 0.2rem solid #443;
}

.book form .box {
  width: 100%;
  padding: 1rem 1.2rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  background: none;
  text-transform: none;
  color: #443;
  border: 0.2rem solid #443;
  margin: 0.7rem 0;
}

.book form .box:focus {
  border: 0.2rem dashed #443;
}

.book form textarea {
  height: 15rem;
  resize: none;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(23rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  font-size: 2.5rem;
  padding: 1rem 0;
  color: #443;
}

.footer .box-container .box a {
  display: block;
  font-size: 1.5rem;
  padding: 1rem 0;
  color: #443;
}

.footer .box-container .box a:hover i {
  padding-right: 2rem;
}

.footer .box-container .box a i {
  padding-right: 0.5rem;
}

.footer .credit {
  text-align: center;
  font-size: 2rem;
  padding: 2rem 1rem;
  margin-top: 1rem;
  color: #443;
}

.footer .credit span {
  border-bottom: 0.2rem dashed #443;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  section {
    padding: 2rem;
  }
  .header {
    padding: 2rem;
  }
}

@media (max-width: 769px) {
  .heading {
    font-size: 6rem;
  }
  .heading span {
    font-size: 2.3rem;
  }
  #menu-btn {
    display: initial;
  }
  #menu-btn.fa-times {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #fff;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .navbar a {
    display: block;
    font-size: 2.2rem;
    margin: 0;
    padding: 1.5rem 2rem;
  }
  .home {
    text-align: center;
  }
  .home .row .content h3 {
    font-size: 4rem;
  }
  .box-container .box {
    margin-left: 0;
    margin-top: 6rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    text-align: center;
  }
  .box-container .box img {
    margin-left: 0;
    margin-top: -6rem;
  }
}

.navbar.active {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .image img {
    height: auto;
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */